:root {
    font-size: 20px;
    width: 100%;

    --radius: 3px;
    --calculatorWidth: 242px;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
}

#calculatorBody {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--calculatorWidth);
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgb(90, 89, 89);
}

#operatorButtonContainer {
    margin-left: 0.5rem;
}

.buttonRow {
    display: flex;
    gap: 0.5rem;
}

.button {
    width: 2rem;
    aspect-ratio: 1/1;
    text-align: center;
    border: solid 1px grey;
    border-radius: var(--radius);
}

.button:hover {
    filter: brightness(0.9);
}

#calculatorDisplay {
    background-color: lightgray;
    padding: 0.5rem;
    overflow-x: hidden;

}

#displayContent {
    margin: 0;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    direction: rtl;
}

#equalsButton {
    width: 4rem;
    aspect-ratio: 2/1;
    background-color: lightgreen;
}

#clearAllButton {
    background-color: rgb(252, 101, 101);
}

#clearButton {
    background-color: orange;
}

#backspaceButton {
    background-color: rgb(2, 136, 225);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: end;
}

.halfGap {
    gap: 0.5rem;
}

.gap {
    gap: 1rem;
}